<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
 <display-name>jersey-devmedia-v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Jersey REST Service</servlet-name>
  	
  	<!-- 
  		Esta classe é responsável por receber e lidar com todas as requisições feitas ao serviço
  	 -->
  	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  	
  	<!-- 
  		Pacote que conterá as classes do serviço
  	 -->
  	<init-param>
  		<param-name>jersey.config.server.provider.packages</param-name>
  		<param-value>
  			io.swagger.jaxrs.listing,
  			br.edu.devmedia.resource
  		</param-value>
  	</init-param>
  	
  	<!-- 
  		Feature obrigatória para que o Jersey consiga 
  		fazer as conversões de objetos para XML e JSON
  		de forma automática. 
  		
  		* obs: Os atributos dos objetos
  		devem ser iguais aos campos do XML/JSON.
  	 -->
  	<init-param>
  		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<!-- 
  		O servlet-name deve ser igual ao servlet declarado acima
  	 -->
  	<servlet-name>Jersey REST Service</servlet-name>
  	
	
	<!-- 
		Todas as URLs que tenham esse padrão serão tratadas pelo servlet do Jersey 
	 -->
  	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!-- servlet do swagger -->
  <servlet>
     <servlet-name>Jersey2Config</servlet-name>
     <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
     
     <!-- define o nome da API -->
     <init-param>
     	<param-name>swagger.api.title</param-name>
     	<param-value>Lembrete API</param-value>
     </init-param>
     
     <!-- define a versão da API -->
     <init-param>
	     <param-name>api.version</param-name>
         <param-value>1.0.0</param-value>
     </init-param>
     
     <!-- base da API onde será encontrado o arquivo swagger.json/swagger.yaml -->
     <init-param>
         <param-name>swagger.api.basepath</param-name>
         <param-value>http://localhost:8080/jersey-devmedia-v2/api</param-value>
     </init-param>
     
     <load-on-startup>2</load-on-startup>
   </servlet>
</web-app>